%h2 #{current_user.login}'s Dashboard

.articles
  %h3 投稿した記事の一覧

  %table.dashboard
    %tr
      %th タイトル
      %th 状態
    - @articles.each do |article|
      %tr
        %td!= link_to h(article.title), edit_article_path(article)
        %th!= render_status_for(article)
