/.DS_Store
**/**/.DS_Store
*/.DS_Store
/.howm-keys
*.swp
.rake_tasks
.generators
/log/*.log
/coverage
/.generators
/db/*.sqlite3
/tmp
public/assets
mkmf.log
.bundle/*
vendor/bundle/*
db/dumps
.rbenv-version
