/.DS_Store
**/**/.DS_Store
*/.DS_Store
/.howm-keys
*.swp
.rake_tasks
.generators
/config/database.yml
/log/*.log
/vendor/plugins/rspec_on_rails_matchers
/vendor/plugins/yaml_waml
/vendor/rails
/coverage
/.generators
/db/schema.rb
/db/*_structure.sql
/db/*.sqlite3
/tmp

bin/*
vendor/bundler_gems/*
