/.DS_Store
**/**/.DS_Store
*/.DS_Store
/.howm-keys
/config/database.yml
/log/*.log
/vendor/plugins/rspec_on_rails_matchers
/vendor/plugins/yaml_waml
/vendor/rails
/coverage
/.generators
/db/schema.rb
/locale
/tmp
