<h2>記事の修正</h2>

<%= error_messages_for :article %>

<% form_for(@article) do |f| %>
  <%= render :partial => "form", :locals => {:form => f} %>
  <p>
  <%= f.submit "プレビュー", :name => "preview" %>
  <%= f.submit "草稿" %>
  </p>
<% end %>
