<%= render :partial => 'article', :locals => { :article => @article } %>
<div class="comments">
<ol>
<% for comment in @article.comments %>
  <li class="comment">
	<div class="meta">
	  <span class="author"><%=h comment.author %></span> on <%=h comment.created_at %>
	</div>
	<div class="body"><%= parse(comment.body) %></div>
  </li>
<% end %>
</ol>
</div>
