@charset "utf-8"; /* -*- coding: utf-8 -*- */
/* You can use this website template anywhere you want, for anything you want. All I ask is that you link back to Blank CSS (www.blankcss.com) in some way. Thank you very much and enjoy! */

/******** Body Elements ********/

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #efefef;
	font-family: 'ヒラギノ丸ゴ Pro W4','Hiragino Maru Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 16px;
	line-height: 1.8;
	color: #222222;
}

/******** Layout Elements ********/

#wrapper {
	border-style: solid;
	border-color: #ccc;
	border-width: 0 2px;
	width: 90%;
	margin: 0 auto;
	padding: 10px 0;
	background-color: #fff;
}

#gnavi {
	background: #efefef url(/images/gnavi_bg.png) repeat-x;
	text-align: right;
	padding: 0px 0.5em;
}

#header {
	margin: 0 0 2px 0;
	padding: 20px 10px 0 10px;
	background-color: #ffffff;
	text-align: left;
}

#container {
	float: left;
	width: 100%;
	padding: 0;
	margin-right: -240px;
	background-color: #fff;
}

#container>* {
	margin-right: 240px;
}

#content {
	margin-right: 240px;
	margin-bottom: 10px;
	padding: 1em;
	background-color: #ffffff;
}

#sidebar {
	float: right;
	width: 230px;
	padding: 10px 5px;
	background-color: #fff;
	font-size: 80%;
	line-height: 1.5;
}

#footer {
	clear: both;
	margin: 50px 0 10px 0;
	border-top: 1px dotted #222;
	padding: 10px 5px 5px 5px;
	background-color: #ffffff;
	text-align: center;
}

/******** Document Styles ********/

h1 {
	font-family: Thahoma, Verdana, Arial, sans-serif;
	line-height: 1;
	font-size: 300%;
	letter-spacing: -3px;
	font-weight: bold;
	color: #000;
}

h2 {
    font-family : "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6",
    Thahoma, Verdana, Arial, sans-serif;
	margin: 0 0 15px 0;
	font-size: 26px;
	font-weight: bold;
	color: #a00;
}

h3 {
	font-size: 20px;
	font-weight: bold;
}

h4 {
	font-size: 18px;
	font-weight: bold;
}

h5,h6 {
	font-size: 16px;
	font-weight: bold;
}

a, a:active, a:visited {
	color: #a00;
	text-decoration: none;
	border-bottom: 1px dotted #a00;
}

a:hover {
	color: #a00;
	border-bottom: 2px solid #a00;
}

a.anchor,a.anchor:active, a.anchor:visited, a.anchor:hover {
	color: #222; /* body color */
	border:none;
}

#header a, #header a:active, #header a:visited {
	color: #000;
	border: 0;
}

#header a:hover {
	border: 0;
}

p {
	margin: 0 0 15px 0;
}

#footer {
  text-align: right;
}

#footer p {
	margin: 0 0 15px 0;
	font-size: 11px;
	line-height: 13px;
}


/******** List Styles Styles ********/

ul {
	margin: 0 0 0 2em;
	list-style-position: outside;
	list-style: disc;
}

/*
ul ul li {
	margin: 3px 0 3px 30px;
	list-style: disc;
}
*/
/*
ul ul {
	margin: 0 0 15px 0;
}
*/
ol {
	margin: 0 0 0 2em;
	list-style-position: outside;
	list-style: decimal;
}

/*ol ol li {
	margin: 3px 0 3px 30px;
}

ol ol {
	margin: 0 0 15px 0;
}
*/

div#gnavi span.menu {
}

div#gnavi span.menu a, div#gnavi span.menu a:active, div#gnavi span.menu a:visited {
	color: #000;
	text-decoration: none;
	border: none;
	font-weight: bold;
}

/* header */

div#header h2.lead {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
	color: #000;
}


/* article */
div.article {
	margin-bottom: 60px;
}

div.article div.meta {
	margin: 0;
	padding: 0;
	color: #999;
	font-size: 70%;
}

div.article span.author {
	color: #000;
	font-weight: bold;
	font-size: 16px;
}

div.article span.comment_count {
	color: #000;
	font-weight: bold;
}

span.author a, span.author a:active, span.author a:visited {
	color: #000;
	border: 0;
}

span.author a:hover {
	border-bottom: 1px solid #000;
}

div.article h2.title {
	margin: 0;
	padding: 0;
	line-height: 1;
}

div.article span.posted_on {
	font-size: 14px;
	color: #222;
	font-style: bold;
}

div.article div.meta a {
	color: #333;
	border-style: none;
}

div.article div.body {
	padding-top: 20px;
}

div.article div.body hr {
    margin: 5px;
	border: 1px solid #999;
}

div.article div.body pre {
    margin: 0 40px 15px 0;
	padding: 0.5em 0.5em 0.5em 1em;
	background: #000;
	color: #0f0;
	font-size: 90%;
	overflow: auto;
}

div.article div.body blockquote {
	background: transparent url(/images/blockquote.gif) no-repeat scroll 0 2px;
	color: #333;
	font-size: 90%;
	margin: 0 40px 15px 0;
	padding-left: 24px;
}

div.article div.body table {
	margin-bottom: 15px;
}

div.article div.body table,div.article div.body table tr, div.article div.body table th, div.article div.body table td {
	border: 1px solid #ccc;

}

/* search */
div.search-phrase {
	font-size: 130%;
	background-color: #FCFCFC;
	font-weight: bold;
}

div.hit-num {
	font-size: 110%;
	text-align: right;
}

/* sidebar */
div#sidebar h3 {
	margin-bottom: 10px;
	font-size: 120%;
}

div#sidebar p {
	margin-bottom: 0.5em;
}

div.member {
	background: #ebb;
	border: 2px solid #a88;
	padding: 3px 3px 10px 3px;
}

div.member h3 {
	color: #a00;
}

div.sblock {
	margin-bottom: 30px;
}

div.sblock ul li {
}

div.sblock p {
  margin-left: 1em;
}

a.image_link {
	border: none;
	text-decoration: none;
}

a.image_link img {
	border: none;
}

span.hatena-star-star-container a {
	border: none;
}

/* openid */
input#openid_url {
	background-color: #fff;
	background-image: url(/images/openid-logo-input.gif);
	background-repeat: no-repeat;
	font-size: 16px;
	line-height: 1.5;
	padding: 0 0 0 26px;
}

/* flash */
div.flash {
	margin: 5px 0 1em 0;
	padding: 5px 1em;
}

div.error {
	background: #f99;
	border: 2px solid #f00;
	color: #b00;

}

div.notice {
	background: #9d9;
	border: 2px solid #090;
	color: #030;
}

div.warn {
	background: #fdfdd3;
	border: 2px solid #fd0;
	color: #444;
}

div.comments {
	font-size: 90%;
	margin-top: 30px;
}

div.comment_form {
	background-color: #eee;
	padding: 10px;
	font-size: 90%;
}

div.comment_form form p {
	margin: 0;
	line-height: 1.5;
}

input.title {
	font-size: 16px;
	line-height: 1.5;
}

div.hidden_dummy_field {
	display: none;
}

span.site_version {
	color: #bbb;
	font-size: 70%;
	letter-spacing: -1px;
}

a.image {
	border: none;
}

div.preview div.article {
	background-color: transparent;
	background-image: url(/images/preview_bg.png);
	background-repeat: repeat;

}

div#content div.navigation {
	margin-top: 1em;
	text-align: right;
	font-size: 70%;
}

table.dashboard {
	border: 1px solid #000;
}

table.dashboard th {
	background: #ccc;
}

table.dashbaord td {
	padding: 3px 10px;
}

div.signin {
	font-size: 70%;
	text-align: left;
}

/* from scaffold.css */
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.contact_form label {
	color: #333;
	display: block;
	font-size: 90%;
	font-weight: bold;
	margin: 1em 0px 0px 0px;
}

.contact_form form input,.contact_form form textarea {

}

.contact_form div.notice {
	background: transparent;
	border: none;
	color: #000;
	font-size: 80%;
	margin: 0px;
	padding: 0px;
}

input#contact_submit {
	font-size: 150%;
}

.contact_form input.email, .contact_form div.email {
	width:18em;
	font-weight:bold;
	font-size:120%;
	padding: 2px 0.5em;
}

div.confirm {
	border: 1px #ccc solid;
	padding: 2px 0.5em;
}

div.about_personal_info {
	margin-top: 15px;
	margin-bottom: 0px;
	font-size: 78%;
}

div.about_personal_info h3 {
	font-size: 120%;
	margin-bottom: 5px;
}

div.about_personal_info p {
	margin: 0;
	padding: 0;
}

div.page h2 {
	text-align: right;
	font-size: 100%;
	margin-top: 10em;
	margin-bottom: 0;
}

div.page h3 {
	font-size: 24px;
	font-weight: bold;
	border-bottom: 2px solid #999;
	margin-bottom: 10px;
}

div.page h4 {
	margin-bottom: 5px;
	padding-left: 5px;
	border-left: 10px solid #999;
}

div.page div.meta {
	font-size: 80%;
	text-align: right;
	color: #999;
	margin-bottom: 20px;
}

div.page div.meta span.author {
	color: #000;
	font-weight: bold;
}

div.page ul {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

ul li {
	margin-left: 1em;
}

div.page p {
	margin-left: 1em;
}

img.badge {
	border:none;
}

.badge {
	border-width:0;
	text-decoration:none;
}