@charset "utf-8"; /* -*- coding: utf-8 -*- */
/* You can use this website template anywhere you want, for anything you want. All I ask is that you link back to Blank CSS (www.blankcss.com) in some way. Thank you very much and enjoy! */

/******** Body Elements ********/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #ffffff;
	font-family: 'ヒラギノ丸ゴ Pro W4','Hiragino Maru Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 16px;
	line-height: 1.8;
	color: #222222;
}

/******** Layout Elements ********/

#wrapper {
	width: 90%;
	margin: 0 auto;
}

#header {
	margin: 0 0 10px 0;
	padding: 20px 0;
	background-color: #ffffff;
	text-align: left;
}

#content {
	float: left;
	width: 70%;
	margin: 0 0 10px 0 ;
	padding: 0 5px;
	background-color: #ffffff;
}

#sidebar {
	float: left;
	width: 24%;
	margin-left: 2px;
	padding: 5px;
	background-color: #ffffff;
	font-size: 80%;
	line-height: 1.5;
}

#footer {
	clear: both;
	margin: 50px 0 10px 0;
	border-top: 1px dotted #222;
	padding: 10px 5px 5px 5px;
	background-color: #ffffff;
	text-align: center;
}

/******** Document Styles ********/

h1 {
	font-family: Thahoma, Verdana, Arial, sans-serif;
	line-height: 1;
	font-size: 300%;
	letter-spacing: -3px;
	font-weight: bold;
	color: #000;
}

h2 {
    font-family : "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6",
    Thahoma, Verdana, Arial, sans-serif;
    _font-weight : bold ;
	margin: 0 0 15px 0;
	font-size: 26px;
	font-weight: bold;
	color: #a00;
}

h3 {
	font-size: 20px;
	font-weight: bold;
}

h4 {
	font-size: 18px;
	font-weight: bold;
}

h5 {
	font-size: 16px;
	font-weight: bold;
}

a, a:active, a:visited {
	color: #a00;
	text-decoration: none;
	border-bottom: 1px dotted #a00;
}

a:hover {
	color: #a00;
	border-bottom: 1px solid #a00;
}

a.anchor,a.anchor:active, a.anchor:visited, a.anchor:hover {
	color: #222; /* body color */
	border:none;
}


#header a, #header a:active, #header a:visited {
	color: #000;
	border: 0;
}

#header a:hover {
	border: 0;
}

p {
	margin: 0 0 15px 0;
}

#footer p {
	margin: 0;
	font-size: 11px;
	line-height: 13px;
}


/******** List Styles Styles ********/

ul li {
	margin: 0 0 0 3px;
	list-style: none;
}

ul ul li {
	margin: 3px 0 3px 30px;
	list-style: circle;
}

ul ul {
	margin: 0 0 15px 0;
}

/* header */
div#header div.lead {
	font-size: 90%;
	color: #000;
}


/* article */
div.article {
	margin-bottom: 30px;
}

div.article div.meta {
	margin: 0;
	padding: 0;
	color: #999;
	font-size: 70%;
}

div.article span.author {
	color: #000;
	font-weight: bold;
	font-size: 16px;
}

div.article span.comment_count {
	color: #000;
	font-weight: bold;
}

span.author a, span.author a:active, span.author a:visited {
	color: #000;
	border: 0;
}

span.author a:hover {
	border-bottom: 1px solid #000;
}

div.article h2.title {
	margin: 0;
	padding: 0;
	line-height: 1;
}

div.article span.posted_on {
	font-size: 14px;
	color: #222;
	font-style: bold;
}

div.article div.body {
	padding-top: 20px;
}

div.body blockquote {
	background: transparent url(/images/blockquote.gif) no-repeat scroll 0 2px;
	color: #333;
	font-size: 14px;
	margin: 0 40px 15px 0;
	padding-left: 24px;
}

/* sidebar */
div#sidebar h3 {
	margin-bottom: 10px;
	font-size: 120%;
}

div#sidebar p {
	margin-bottom: 0.5em;
}

div.member {
	background: #ebb;
	border: 2px solid #a88;
	padding: 3px 3px 10px 3px;
}

div.member h3 {
	color: #a00;
}

div.sblock {
	margin-bottom: 30px;
}

div.sblock ul li {
}

/* openid */
input#openid_url {
	background-color: #fff;
	background-image: url(/images/openid-logo-input.gif);
	background-repeat: no-repeat;
	font-size: 16px;
	line-height: 1.5;
	padding: 0 0 0 26px;
}

/* flash */
div.flash {
	margin: 5px 0 1em 0;
	padding: 5px 1em;
	width: 100%;
}

div.error {
	background: #f99;
	border: 2px solid #f00;
	color: #b00;

}

div.notice {
	background: #9d9;
	border: 2px solid #090;
	color: #030;
}

div.warn {
	background: #ff9;
	border: 2px solid #fd0;
	color: #000;
}

div.comments {
	margin-top: 30px;
}

div.comment_form {
	background-color: #eee;
	padding: 10px;
	font-size: 90%;
}

div.comment_form form p {
	margin: 0;
	line-height: 1.5;
}

input.title {
	font-size: 16px;
	line-height: 1.5;
}

div.hidden_dummy_field {
	display: none;
}

span.site_version {
	color: #bbb;
	font-size: 70%;
}