- content_for :head do
  :sass
    ul#nakanohitos li
      :list-style-type none

%h2 中の人たち

%ul#nakanohitos
  - @nakanohitos.each do |m|
    %li
      != image_tag m.gravatar_url(:size => 24), :class => 'icon'
      != link_to h(nakanohito_name(m)), nakanohito_path(m)
