  <p>
	<b>投稿者</b>: <%= @page.author_name %>
	<%= form.hidden_field :user_id %>
  </p>
  <p>
    <b>ページの名前</b><br />
	<%= form.text_field :name, :size => 55, :class => "name"%>
  </p>
  <p>
    <b>ページの内容</b>(Hiki記法のような記法が使えます)<br />
    <%= form.text_area :content, :size => "80x20" %>
  </p>
