  <h2 class="title"><%= link_to h(page.name), page_path(page.name) %></h2>
  <div class="body">
<%= parse(page.content) %>
  </div>
  <div class="meta"><span class="author"><%= link_to( h(page.user.login), {:controller => "users", :action => "show", :id => page.user.login}) %></span> が <span class="posted_on"><%=h posted_on(page.updated_at) %></span> 更新</div>
