<% if signed_in? -%>
<div class="member sblock">
<h3><%= current_user.login %> としてサインイン中</h3>
<ul>
<% if @page -%>
<li><%= link_to '現在のページを編集する', edit_page_path(@page.name) %></li>
<% end -%>
<li style="padding-top:1em;"><%= link_to 'サインアウト', signout_path %></li>
</ul>
</div>
<% end -%>

<%= render :partial => 'shared/about_company' %>
