<h2>ページの編集</h2>

<%= error_messages_for :page %>

<% form_for(:page, :url => { :action => 'update', :page_name => @page.name }, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => {:form => f} %>
  <p>
  <%= f.submit "プレビュー", :name => "preview" %>
  <%= f.submit "更新" %>
  </p>
<% end %>
