development: &defaults
  adapter: postgresql
  encoding: unicode
  host: localhost
  port: 5432
  database: rubyagile_development
  pool: 5
  username: 
  password: 
  min_messages: WARNING

test:
  <<: *defaults
  database: rubyagile_test
