development:
  adapter: postgresql
  username: postgres
  database: rubyagile_development
  encoding: unicode

test:
  adapter: postgresql
  username: postgres
  database: rubyagile_test
  encoding: unicode
