<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<%= stylesheet_link_tag "rubyagile" %>
<title>Ruby x Agile</title>

</head>
<body>
<% if flash[:notice] -%>
<div class="notice"><%= flash[:notice] %></div>
<% end -%>
<div id="contents">
<%= yield %>
</div>
</body>
</html>
